
# <legal></legal>

# Python intermediate material
**/*.pyc
**/__pycache__
*egg-info
.ipynb_checkpoints
.vscode

# Other intermediate files
.DS_Store
.ccls-cache/

# Created by ACR on first run
code/acr/llvm/CMakeCache.txt
code/acr/llvm/CMakeFiles/
code/acr/llvm/Makefile
code/acr/llvm/cmake_install.cmake
code/acr/llvm/libNullDom.so
code/acr/test/out/acr.h

# Emacs backup files
*~
