
# <legal></legal>

# Python intermediate material
**/*.pyc
**/__pycache__
**/.pytest_cache
*egg-info
.ipynb_checkpoints
.vscode

# Other intermediate files
.DS_Store
.ccls-cache/

code/acr/test/out/*
cert/*.crt

notes.org
# Created by ACR on first run
code/acr/llvm/CMakeCache.txt
code/acr/llvm/CMakeFiles/
code/acr/llvm/Makefile
code/acr/llvm/cmake_install.cmake
code/acr/llvm/libNullDom.so
code/acr/test/out/acr.h
doc/examples/codebase/dos2unix-7.5.2
doc/examples/separate_build/wrk

# Emacs backup files
*~
